* {
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans;
}

body {
    background: rgb(229,225,215);
    color: rgb(33,33,33);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(33,33,33);
}

h2 {
    font-weight: bold;
    font-size: 34px;
    margin: 1rem;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 28px;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

/*HEADER*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: rgba(229,225,215,1);
    border-bottom: 2px dashed rgb(33,33,33);
}

.logo-name {
    display: flex;
    width: 60%;
    align-items: center;
}

.logo-name  img {
    max-width: 7rem;
    margin: 1rem;
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a  {
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 1.5rem;
}

.navbar-links li:hover {
    background-color: pink;
    border-radius: 5px;
    border: 2px solid rgb(33,33,33);

}

.toggle-button {
    position: absolute;
    top: 2.5em;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 7%;
    height: 40px;
    color: rgb(33,33,33);
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(33,33,33);
    border-radius: 5px;
}

.intro-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;

}
.forest {
    height: 20rem;
    background-image: url("img/PS-les1.jpg" );
}

.intro-desc p:nth-of-type(1) {
    margin: 2rem 5rem 2rem 5rem;
}

.intro-desc p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: bold;
}

.book-buttons {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    column-gap: 2rem;
}

.book-buttons button {
    width: 17rem;
    border-radius: 5px;
    background-color: rgb(229,225,215);
    font-size: 1.5rem;
}

.book-buttons button:hover {
    cursor: pointer;
    background-color: pink;
    font-weight: bold;
}

.free-pic {
    height: 5rem;
    width: 100%;
    text-align: right;
}

    /*PRICELIST*/
.fr {
    grid-area: patek;
    font-weight: bold;
    text-align: center;
}

.st {
    grid-area: sobota;
    font-weight: bold;
    text-align: center;
}

.all {
    grid-area: cely;
    font-weight: bold;
    text-align: center;
}

.student {
    grid-area: student;
    font-weight: bold;
    text-align: left;
}

.student-fr {
    grid-area: student-patek;
    text-align: center;
}

.student-st {
    grid-area: student-sobota;
    text-align: center;
}

.student-all {
    grid-area: student-cely;
    text-align: center;
}

.normal {
    grid-area: norm;
    font-weight: bold;
    text-align: left;
}

.normal-fr {
    grid-area: norm-patek;
    text-align: center;
}

.normal-st {
    grid-area: norm-sobota;
    text-align: center;
}

.normal-all {
    grid-area: norm-cely;
    text-align: center;
}
.pricelist {
    display: grid;
    margin: 1rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    grid-template-columns: 7rem 6rem 6rem 6rem;
    grid-template-rows: 2rem 2rem 2rem;
    grid-template-areas:
        " . patek sobota cely"
        "student student-patek student-sobota student-cely"
        "norm norm-patek norm-sobota norm-cely";
}

/*BANDS*/
.band-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.band-card--heading {
    display: flex;
    flex-direction: row;
    width: 20rem;
    height: 5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid rgb(33,33,33);
    border-radius: 5px;
}

.band-card--heading .band-card--icons {
    display: none;
}

.band-card--heading button {
    display: none;
}

.band-card--heading p {
    display: none;
}

.band-card--heading img {
    display: none;
}


.band-card--content {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid pink;
    border-radius: 5px;
}

.band-card--content h4 {
    padding-bottom: 1rem;
}

.band-card--content button {
    width: 60%;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(120, 221, 120);
}

.band-card--content a {
    background-color: rgb(120, 221, 120);
}

.band-card--content button:hover {
    border: 2px solid black;
}

.band-card--icons {
    display: flex;
    padding: 1rem;
}

.band-card--icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.band-card--icon img {
    width: 25%;
    padding-bottom: 0.5rem;
}

/*LINEUP*/
.lineup-container, .support {
    display: flex;
    justify-content: space-between;
}

.lineup-container h4, h3 {
    text-align: left;
}

.lineup-friday {
    width: 30%;
}

.lineup-saturday {
    width: 30%;
}

.place-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
}

.lines-pic {
    width: 5%;
}

.star-pic {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0.5rem;
}

.star-pic img {
    width: 2%;
}

.support {
    padding-bottom: 3rem;
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: rgb(33,33,33);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer p {
    color: rgb(229,225,215);
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: center;
    margin: 0;
}

.footer img {
    width: 30px;
    margin: 0.5rem;
}
span {
    color: red;
}

.address {
    display: flex;
    color: rgb(229,225,215);
    justify-content: center;
    column-gap: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.address a {
    cursor: pointer;
    color: rgb(229,225,215);
}

.address a:hover {
    color: pink;
}

/*RESPONSIVITY*/
/*MENU*/
@media (max-width: 800px) {
    .logo-name h1 {
        font-size: 20px;
    }
    .logo-name {
        width: 80%;
    }
    .toggle-button {
        display: flex;
        justify-content: space-evenly;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (max-width: 1100px) {
    .lineup-container, .support {
        display: block;
        text-align: center;
    }

    .lineup-container h4, h3 {
        text-align: center;
    }

    .lineup-friday {
        width: 100%;
    }

    .lineup-saturday {
        width: 100%;
    }

    .place-item {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 1rem;
        column-gap: 0;
    }

    .place-item p {
        width: 5rem;
        text-align: left;
    }

    .place-item p:nth-child(3) {
        width: 15rem;
    }

    .lines-pic {
        width: 10%;
        transform: rotate(90deg);
    }

    .star-pic img {
        width: 5%;
    }
}

@media (max-width: 700px) {
    .pricelist {
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .book-buttons {
        flex-direction: column;
        height: 10rem;
        justify-content: space-between;
        align-items: center;
    }

    .book-buttons button {
        height: 4rem;
    }
}


