// ADMIN
$add_btn: cadetblue;
$save_btn: rgb(14, 89, 92);
$remove_btn: rgb(192, 24, 24);
$font_color_btn: white;
$input_background: hsl(0 0% 93%);
$success_msg_backgroud: rgb(102, 163, 102);
$failture_msg_backgroud: rgb(216, 88, 88);

// HOME
$background_black: #212121;
$font_color_cream: #e1ddd6;