@import '../colors.scss';

.new-year {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    h2 {
        padding: 0.5rem;
    }

    .success {
            width: 33%;
            background-color: rgb(102, 163, 102);
            padding: 0.5rem 0.5rem 0.5rem 0rem;
            font-weight: bold;
            }

        .fail {
            width: 33%;
            background-color: rgb(216, 88, 88);
            padding: 0.5rem 0.5rem 0.5rem 0rem;
            font-weight: bold;
        }

    form {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        
        .new-year--form {
            display: grid;
            grid-template-columns: 10rem 10rem;
            grid-template-rows: 2.6rem 2.6rem 2.6rem 2.6rem 2.6rem 8rem;
            grid-gap: 0.5rem;
            padding-bottom: 1rem;
            grid-template-areas: 
                        "year grade"
                        "from to"
                        "fr-nrm fr-std"
                        "sr-nrm sr-std"
                        "all-nrm all-std"
                        "desc desc";
            
            input, textarea {
                background: $input_background;
                padding: .75rem 1rem;
                border-radius: .25rem;
                border: 1px solid transparent;
            }

            input:hover, textarea:hover  {
                cursor: pointer;
                border: 2px solid black;
            }
        }

        .save-btn {
            display: flex;
            width: 20rem;

            button {
                width: 10rem;
                height: 2.6rem;
                border-radius: .25rem;
                color: $font_color_btn;
                font-weight: bold;
                border: 1px solid transparent;
                background-color: $save_btn;
                margin-top: 1.7rem;
            }

            button:hover {
                cursor: pointer;
                border: 2px solid black;
            }
        }

        .year {
            grid-area: year;
        }

        .grade {
            grid-area: grade;
        }

        .from {
            grid-area: from;
        }

        .to {
            grid-area: to;
        }

        .fr-nrm {
            grid-area: fr-nrm;
        }

        .fr-std {
            grid-area: fr-std;
        }

        .sr-nrm {
            grid-area: sr-nrm;
        }

        .sr-std {
            grid-area: sr-std;
        }

        .all-nrm {
            grid-area: all-nrm;
        }

        .all-std {
            grid-area: all-std;
        }

        .desc {
            grid-area: desc;
        }
    }
}




